body {
    background-color: #777;
}
.header{
    margin-left: 200px;
    margin-right: 250px;
    margin-bottom: 5px;
    background-color: #dcdcdc;
    text-align: center;
    padding: 30px;
    color: #777;
}

.nav{
    margin-left: 200px;
    margin-right: 250px;
    margin-bottom: 15px;
    background-color: #dcdcdc;
    text-align: center;
    padding: 30px;
    color: #777;
}

.section{
    float: left;
    margin-left: 200px;
    display: inline-block;
    background-color: #dcdcdc;
    text-align: center;
    padding: 30px;
    margin-bottom: 15px;
    width: 35%;
    color: #777;
}

.article{
    
    background-color: #696969;
    text-align: center;
    padding: 30px;
    color: white;
}
.h{
    margin-bottom: 5px;
    background-color: #dcdcdc;
    height: 20px;
    color: #777;
    text-align: center;
    padding: 30px;
}
.p{
    background-color: #dcdcdc;
    height: 20px;
    color: #777;
    text-align: center;
    padding: 30px;
}
.aside{
    float: left;
    margin-left: 5px;
    background-color: #dcdcdc;
    width: 24.5%;
    height: 271px;
    text-align: center;
    padding: 30px;
    color: #777;
}

.footer{
    margin-left: 200px;
    margin-right: 250px;
    clear: both;
    background-color: #dcdcdc;
    text-align: center;
    padding: 30px;
    color: #777;
}